
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="modal fade text-left" id="process-entry-modal"  role="dialog" aria-labelledby="reassign-modal-label" aria-hidden="true" style="z-index:1051;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h6 class="modal-title text-white" id="reassign-modal-label">Window Entry</h6>
                <button type="button" class="close text-white" onclick="CloseModalPopup();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-fixed">
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="documentNo">Window Name<span class="text-danger ml-005"></span></label>
                            <input type="text" id="windowName" class="form-control" placeholder="Enter Type Name" autocomplete="off">
                            <input type="hidden" id="hdnTypeId" />           
                        </div>
                    </div>
                </div> 
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="documentNo">Order Name<span class="text-danger ml-005"></span></label>
                            <select id="orderId" class="form-control select2" placeholder="Select a Order" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 float-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-info" id="btn-process-save">Save</button>
                            <button type="button" id="btn_close" class="btn grey btn-secondary" onclick="CloseModalPopup();" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>