
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/Template/_Layout.cshtml";
}
<br />
<div class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                 <h3 class="card-title">Order <small>List</small></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>            
            <div class="card-body">  
                <div class="card-content">
                    <div id="product-summary" class="media-list position-relative">
                        <div class="table-responsive">
                            <table class="table table-padded table-xl mb-0 w-100" id="order-list-table">
                                <thead>
                                    <tr>
                                        <th>Order Name</th>
                                        <th>State</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    
    </div>
</div>

<partial name="_OrderEntry" />

@section Scripts
{
    <script>
    var table;

    table = $('#order-list-table').DataTable({
        "filter": true, // this is for disable filter (search box)
        "paging": true,
        "pageLength": 10,
        "lengthChange": false,
        "pagingType": "full_numbers",
        "scrollX": false,
        "autoWidth": true,
        "initComplete": function (settings, json) {
            $("#order-list-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");

            var btns = $('.btn-primary');
                btns.addClass('btn-sm');
                btns.removeClass('btn-secondary');
        },
        buttons: [
            {
                id:"btnAddNew",
                text: 'Add New',
                className: 'btn-primary',
                action: function ( e, dt, node, config ) {
                    $("#order-entry-modal").modal('show');
                }
            }
        ],
    });

    loadOrderList();


    function loadOrderList() {

        $('#order-list-table').DataTable().destroy();

        table =  $('#order-list-table').DataTable({
            //"processing": true, // for show progress bar
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            "filter": true, // this is for disable filter (search box)
            "paging": true,
            "pageLength": 10,
            "lengthChange": false,
            "pagingType": "full_numbers",
            "scrollX": false,
            "autoWidth": true,
            "bInfo" : false,
            "ajax": {
                "url": "/Order/GetAllOrderList",
                "dataSrc": function(d) {
                    if (d.data.length === 0) {
                        var settings = $('#order-list-table').DataTable().settings()[0];
                        settings.oLanguage.sEmptyTable = d.message;
                    }
                    return d.data;
                },
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                { "data": "orderName", "name": "orderName" },
                { "data": "state", "name": "state" },
                {
                    data: null,
                    render: function (data, type, row) {
                        var dom = '<span class="cursor-pointer row-edit" ><i class="fas fa-edit primary fa-2x"></i><span>';
                        return dom;
                    },
                    ordering: false
                },
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    id:"btnAddNew",
                    text: 'Add New',
                    className: 'btn-primary',
                    action: function ( e, dt, node, config ) {                    
                        clearModal();
                        $("#order-entry-modal").modal('show');
                    }
                }
            ],
            "initComplete": function(settings, json) {
                $("#order-list-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");

                var btns = $('.btn-primary');
                btns.addClass('btn-sm');
                btns.removeClass('btn-secondary');
            }
        });



    }

    function clearModal() {
        $('#orderName').val('');
        $('#hdnOrderId').val('');
        $('#state').val('');
        $('#option').text('Entry');
    }

    $('#order-entry-modal').on('click', '#btn-order-save', function () {

         var orderName = $('#orderName').val();
         var state = $('#state').val();
         var orderId = $('#hdnOrderId').val();

         $.confirm({
            title: 'Confirm!',
            content: 'Are you sure to save?',
            buttons: {
                confirm: function () {
                    var order = {};
                    order['OrderName'] = orderName;
                    order['State'] = state;
                    order['OrderId'] = orderId;


                    $.ajax({
                        url: "/Order/SaveOrder",
                        type: "POST",
                        data: { order: order },
                        success: function (data) {

                            if (data.status == true) {
                                toastr.success("message", data.message);
                               $("#order-entry-modal").modal('hide');
                                clearModal();
                                loadOrderList();
                            }
                            else {
                                toastr.error("Error", data.message);
                                $.alert(data.message);
                            }
                        }
                    });

                },
                cancel: function () {
                    
                }
            }
        });
            
        });

$('#order-list-table').on('click', '.row-edit', function() {

    var rowData = table.row($(this).parents('tr')).data();

    $('#orderName').val(rowData['orderName']);
     $('#state').val(rowData['state']);
    $('#hdnOrderId').val(rowData['orderId']);
    $('#option').text('Edit');

    $("#order-entry-modal").modal('show');
} )
       
function CloseModalPopup() {       
            $("#order-entry-modal").modal('hide');
            $("#btn_close").modal('hide');   
    }

    </script>
}
